spacy
numpy
pandas
spacy-transformers
requests
openai
-f https://download.pytorch.org/whl/cpu
torch
flair
transformers
tokenizers
peft
accelerate
bitsandbytes
langdetect
fire
datasets
rdflib
gitpython
pytz
fastapi
pydantic>=2.0.0
SPARQLWrapper
translatepy
span-aligner
#tokenizers==0.22.1
#scikit-learn
