spacy
numpy
pandas
spacy-transformers
requests
openai
-f https://download.pytorch.org/whl/cpu
torch
flair
transformers
tokenizers
peft
langdetect
fire
datasets
rdflib
gitpython
fastapi
SPARQLWrapper
translatepy
#tokenizers==0.22.1
#scikit-learn
